*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.fondo{
    background: black;
}
.letra{
    color: rgb(150, 9, 206);
    font-size: 80px;
    margin-left: 2%;
    margin-bottom: 2%;
}
.fondonav{
    
    width: 80%;
    background: rgb(0, 0, 0);
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}